<div id="mainContainer" class="container-fluid">

    <div id = "row" class="row">
        <div id="col"class="col-12">
            <h1 id = "header">Patient List</h1>
            
            <!--only displays if username entered and login clicked.-->
            <div *ngIf="!loggedIn" id="loginDiv">
            <label for="fname">Username:</label><br>
            <input type="text" [(ngModel)]="userName" ><br>
            <button id="loginBtn" (click)="loginButton()" class="btn btn-primary">Login</button>
        </div>
        <!--only displays if username entered and login clicked.-->

        <p *ngIf="loggedIn"> Welcome Back {{ loggedIn }}.</p>

            <app-patients [createdBy]="userName" (removePatientNotification)="alertPatientRemoved()" (addedPatientNotification)="alertPatientAdded()"></app-patients>
        </div>
    </div>
</div>